body {
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4076c2;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.image-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-list li {
    width: 100%; /* Make the list item take full width */
    display: flex;
    justify-content: center; /* Center the image in the list item */
    margin: 50px 0; /* Add some vertical space between images */
}

.image-list img {
    width: 600px; /* Set a specific width */
    max-width: 600px; /* Limit the size to not be too large */
    height: 400px; /* Maintain aspect ratio */
    max-height: 600px;
    border: 1px solid #ccc;
    display: block; /* Blocks are treated as a box, taking up the full width */
    margin: auto; /* Center the image block */
}

ul, li {
    list-style-type: none; /* Remove bullets */
}

p {
    text-align: center;
    margin: 20px 0;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    h1 {
        padding: 15px;
    }

    h2 {
        margin: 15px 0;
    }

    .image-list img {
        max-width: 95%; /* Allow the image to be a bit larger on smaller screens */
    }
}
