<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Course Materials</title>
    <link rel="stylesheet" href="static/delete_photos_page_style.css">
</head>
<body>
<h2>Remove Course Materials</h2>
<table border="1">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Course Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post[0]}}</td>
                <td>{{post[2]}}</td>
                <td><a href="/view_and_delete/{{post[0]}}/{{post[2]}}" class="button_blue">View and Remove</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>