<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/index_style.css">
</head>
<body>

    <h2>METU NCC Course Archive</h2>
    <div class="container">
        <h3>Course List</h3>

        <table class="table_bordered">
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Number of Posts</th>
                <th>Actions</th>
            </tr>
            {% for courses in course_codes %}
            <tr>
                <td>{{ courses[0] }}</td>
                <td>{{ courses[1] }}</td>
                <td>Not implemented yet</td>
                <td><a href="/see_course/{{ courses[0] }}">See the materials</a></td>
            </tr>
            {% endfor %}
        </table>

        <br>

        <!-- Add a button -->
        <button class="button_blue" onclick="location.href='/upload'">Upload Course Material</button>

        <br>

        <button class="button_blue" onclick="location.href='/sub_page'">Get Notifications</button>
    </div>
    <br>
</body>
</html>
